.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 500px;
  background: hsl(195deg, 20%, 86%);
  z-index: -1;
}

a {
  color: inherit;
}

